
.jumbotron-wrapper{
  position: relative;  
}
.jumbotron-img{
  width: 100%;
  height: 80vh;
  border-radius: 24px;
}

.jumbotron-wrapper h1{
  text-align: center;
  color: #023A63;
}

.center-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron-wrapper .input-search{
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  input{
    border: none;
  }
  .btn-search{
    background-color: #FC804F;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 42px;
    &:hover{
      cursor: pointer;
    }
  }
}

.btn-none{
  background-color: white;
  border: none;
  width: 100px;
}

.btn-orange{
  background-color: #FFF8F5;
  color: #FC804F;
  border: none;
  width: 100px;
}

.text-white{
  color: white;
}

.text-orange{
  color: #FC804F;
}

.text-primary{
  color: #023A63;
}

.border-left{
  padding-left: 24px;
  border-left: 4px solid #FF8E62;
}

.lil-paragraph{
  width: 300px;
}

.mt-18{
  margin-top: 18px;
}

.mt-32{
  margin-top: 60px;
}

.ml-28{
  margin-left: 28px;
}

.position-relative{
  position: relative;
}

.btn-prev-next{
  // position: absolute;
  margin-top: 160px;
  background-color: #FC804F;
  bottom: 0;
  right: 0;
  margin-left: 12px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: none;
  color: white;
}

.btn-cancel{
  width: 100%;
  height: 36px;
  background-color: white;
  border: none;
  color: #7A7A7A;
}

.btn-buy{
  width: 100%;
  height: 36px;
  background: rgba(255, 142, 98, 0.1);
  border: 1px solid #FF8E62;
  border-radius: 8px;
  color: #FF8E62;
}

.product-wrapper{
  position: relative;
  width: 100%;
}

.product-item{
  position: absolute;
  word-wrap: break-word;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.img-product{
  max-width: 100%;
}

.d-flex{
  display: flex;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
